<ion-tabs *ngIf="auth.isLoggedIn">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
</ion-tabs>
<ion-content *ngIf="!auth.isLoggedIn">
  <ion-input  placeholder="Username" [(ngModel)]="username"></ion-input>
  <button  ion-button (click)="auth.login(username)">LOGIN</button>
  <ion-item>
    <ion-label>Are you a parent?</ion-label>
    <ion-checkbox [(ngModel)]="parent"></ion-checkbox>
  </ion-item>

  <button ion-button (click)="createUser()">Create New Account</button>
</ion-content>
